body {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  -webkit-app-region: drag;
  background-color: #343838;
  color: #fff;
  margin: 0px;
  padding: 0px;
  width: 600px;
  height: 300px;
  overflow: hidden;
}